<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="validaService" class="es.mpr.j2ee.afirma.services.ValidaServiceImpl">
		<property name="service" ref="validaClientService"/>
	</bean>
	
	<bean id="signService" class="es.mpr.j2ee.afirma.services.SignServiceImpl">
		<property name="service" ref="DSSAfirmaSign"/>
	</bean>
	
	<bean id="verifyService" class="es.mpr.j2ee.afirma.services.VerifyServiceImpl">
		<property name="service" ref="DSSAfirmaVerify"/>
	</bean>
	
	<bean id="archiveRetrievalService" class="es.mpr.j2ee.afirma.services.ArchiveRetrievalServiceImpl">
		<property name="service" ref="DSSAfirmaArchiveRetrieval"/>
	</bean>

	<bean id="passwordCallback" class="es.mpr.plataformamensajeria.afirma.TemplatePasswordCallback" />
	
	<bean id="WSS4JOutInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
		<constructor-arg>
			<map>
				<entry key="action" value="Signature" />
				<entry key="user" value="framework"/>
				<entry key="signaturePropFile" value="client-signature.properties" />
				<entry key="signatureKeyIdentifier" value="DirectReference"/>
				<entry key="passwordCallbackRef">
					<ref bean="passwordCallback" />
				</entry>
				<entry key="mustUnderstand" value="0"/>
			</map>
		</constructor-arg>
	</bean>
		
	<jaxws:client id="validaClientService" serviceClass="es.mpr.j2ee.afirma.valida.Validacion"
		address="${afirma.endpoint.validarcertificado}">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<jaxws:outInterceptors>
			<ref bean="WSS4JOutInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:client>
	
	<jaxws:client id="DSSAfirmaSign" serviceClass="es.mpr.j2ee.afirma.dss.DSSAfirmaSign"
		address="${afirma.endpoint.DSSAfirmaSign}">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<jaxws:outInterceptors>
			<ref bean="WSS4JOutInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:client>
	
	<jaxws:client id="DSSAfirmaVerify" serviceClass="es.mpr.j2ee.afirma.dss.DSSAfirmaVerify"
		address="${afirma.endpoint.DSSAfirmaVerify}">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<jaxws:outInterceptors>
			<ref bean="WSS4JOutInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:client>
	
	<jaxws:client id="DSSAfirmaArchiveRetrieval" serviceClass="es.mpr.j2ee.afirma.dss.DSSAfirmaArchiveRetrieval"
		address="${afirma.endpoint.DSSAfirmaArchiveRetrieval}">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<jaxws:outInterceptors>
			<ref bean="WSS4JOutInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:client>
	
	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>
</beans>
