@charset "utf-8";
/* CSS Document */
body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #bfbfbf
}

#loginContainer {
	width: 90%;
	margin: 35px auto 0 auto;
}

.northLay {
	background-color: #FFFFFF;
	width: 100%;
	padding-top: 4px;
	border-bottom: solid 4px #b6b6b6;
}

.centerlay {
	background-color: #FFFFFF;
	width: 100%;
	border-top: solid 4px #FFFFFF;
}

.rightLay {
    float: right;
    text-align: center;
    width: 70%;
    margin: 200px auto 0 auto;
}

.formularioLogin {
    background-color: #FFFFFF;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-color: #6A93AD;
    padding: 4px;
    color: #175682;
    height: 140px;
    width: 620px;
    margin: 0 auto 0 auto;
}

#loginFooter {
	background-color: #4b88b2;
	height: 109px;
	clear: both;
	position: relative;
	width: 100%;
}

#loginFooter p {
	position: absolute;
	left: 25px;
	top: 25px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 15px;
}

.leftSide img {
	margin: 15px 0 15px 15px;
}

.logoApp {
	float: left;
	font-size: 20px;
	text-align: right;
	background: url(../img/icoAppLogin.jpg) 135px 90px no-repeat;
	width: 363px;
	height: 230px;
	position: relative;
}

.logoApp label {
	position: absolute;
	bottom: 0;
	right: 50px;
	text-transform: uppercase;
	color: #3e3e3e;
	line-height: 24px;
	width: 250px;
	font-size: 30px;
}

.logoApp label span {
	font-size: 12px;
	color: #0c5387;
	text-transform: none;
}

.loginContent {
	background-color: #c7c7c9;
	margin: 107px 0 0 0;
	float;
	left
}

.loginContent div {
	background-color: #bebebf;
	width: 180px;
	height: 236px;
	padding: 50px 50px 0 50px;
}

.loginContent div h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.loginContent div p {
	overflow: hidden;
}

.loginContent div p label {
	display: block;
	padding: 2px 0 2px 7px;
	margin: 10px 0 5px 0;
	background: url(../img/Login/icoLabel.gif) left 6px no-repeat;
	font-weight: bold;
	font-size: 10px;
}

.loginContent div p input {
	font-size: 11px;
	width: 176px;
	border: solid 1px #7a7f84;
}

input[type="button"] {
	background: url(../img/Login/btnLogin.png) left top no-repeat;
	font-size: 12px;
	color: #1c1c1c;
	border-style: none;
	width: 71px;
	height: 21px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
}

input[type="submit"] {
	background: url(../img/Login/btnLogin.png) left top no-repeat;
	font-size: 12px;
	color: #1c1c1c;
	border-style: none;
	width: 71px;
	height: 21px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
}

loginError {
	font-size: 12px;
	color: red;
}