<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>org.mule.config</param-name>
		<param-value>mule-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
	</listener>

<!-- Web Services are loaded directly by server, they are not configured here -->

	<servlet>
		<servlet-name>cxfServlet</servlet-name>
		<display-name>CXF Servlet for REST services</display-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<init-param>
			<param-name>config-location</param-name>
			<param-value>/WEB-INF/applicationContext-rest.xml</param-value>
		</init-param>
<!-- 		<load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>cxfServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	 
	<servlet>
	  <servlet-name>samlServlet</servlet-name>
	  <servlet-class>es.minhap.misim.bus.webapp.servlet.ServletSAML</servlet-class>
	</servlet>
 	<servlet-mapping>
	  <servlet-name>samlServlet</servlet-name>
	  <url-pattern>/ServletSAML</url-pattern>
	</servlet-mapping>
	
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>muleServlet</servlet-name> -->
<!-- 		<servlet-class>org.mule.transport.servlet.MuleReceiverServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>muleServlet</servlet-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->

<!-- *************************** -->
	<!-- INICIO QUARTZ -->
	<!-- *************************** --> 
	<servlet> 
		<servlet-name>QuartzInitializer</servlet-name> 
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class> 
	  	<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
     	<display-name>QuartzInicializarJobs</display-name>
     	<servlet-name>QuartzInicializarJobs</servlet-name> 
     	<servlet-class>es.redsara.misim.misim_bus_webapp.quartz.QuartzInicializarJobs</servlet-class>
     	<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuartzInicializarJobs</servlet-name>
		<url-pattern>/QuartzInicializarJobs</url-pattern>
	</servlet-mapping>
	<!-- FIN QUARTZ -->

</web-app>
