/* CSS Document */


/* ESTRUCTURA CABECERA: estilo_estructura_cabecera.css*/
/*general*/
*{
	margin:0;
	padding:0;
}

img
{
	border:0;
}

body{
	
	border:0;
	margin:auto;
	font: normal 70% Tahoma, Helvetica, sans-serif;
	margin-top:10px;
}

h1{
	font-size:135%;
}

h2{
	font-size:120%;
}

h3{
	font-size:110%;
}

a{
	color:#CE0645;
	text-decoration:none;
}

a:hover{
	color:#D00545;
	text-decoration:underline;
}

a.enlace_azul{
	color:#758086;
}

a.enlace_azul:hover{
	color:#758086;
}

a.enlace_rojo{
	color:#B62353;
}

*.sin_borde{
	border:0;
}

*.negrita{
	font-weight:bold;
}

*.normal{
	font-weight:normal;
}

/*general fin*/



/*contenedor*/

#contenedor{
	text-align:left;
	margin-left:1%;
	margin-right:2%;
	min-height:480px;
	border-bottom:8px solid #758086;
}

/*contenedor fin*/

/*-----------CABECERA--------------*/

/*cabecera*/



#cabecera{
	height:92px; 
}

#cabecera ul{
	list-style:none;
}

#cabecera li{
	display:inline;
}

#cabecera_menu img{
	float:left;
	margin-left:10px;
}

#cabecera_menu_superior img{
	float:right;
}

#cabecera_menu_superior{
	text-align:right;
	height:60px;
	font-size:90%;
}

/*.................................................... COLOR DE UTILIDADES Y ACCESIBLIDAD ...................................................*/

.cabecera_menu_superior_lenguajes
{
	color:#DDDECC;
}

.cabecera_menu_superior_lenguajes a
{
	color:#4D5E68;
}

.cabecera_menu_superior_lenguajes a:hover
{
	color:#4D5E68;
}

.cabecera_menu_superior_utilidades a
{
	color:#929292;
}

.cabecera_menu_superior_utilidades a:hover
{
	color:#929292;
}

.cabecera_menu_superior_utilidades 
{
 color:#DFDFCC;}

/* ......................................................................................................................................*/

#cabecera_menu_inferior{
	padding-left:88px;
}


#cabecera_menu_inferior li{
float:left;
}

#cabecera_menu_inferior a{
text-decoration:none;
display:block;
width:113px;
text-align:center;
background:url(../images/menu_superior/boton_rosa.png) top center;
padding-top:8px;
padding-bottom:7px;
color:#505C68;
}

#cabecera_menu_inferior a:hover
{
color:#fff;
background:url(../images/menu_superior/boton_rojo.png);
}

#cabecera_menu_inferior li.cmi_selected a
{
color:#fff;
background:url(../images/menu_superior/boton_rojo.png) top center;
}

#cabecera_menu_inferior li.cmi_selected a:hover
{
background:url(../images/menu_superior/boton_rojo.png) top center;
}


#cabecera_menu_inferior  li.cmi_large a{
width:138px;
background:url(../images/menu_superior/boton_rosa_gr.png);
}

#cabecera_menu_inferior  li.cmi_large a:hover{
background:url(../images/menu_superior/boton_rojo_gr.png);
}

#cabecera_menu_inferior  li.cmi_large_selected a{
width:138px;
background:url(../images/menu_superior/boton_rojo_gr.png);
color:#fff;
}
#cabecera_menu_inferior  li.cmi_large_selected a:hover{
width:138px;
background:url(../images/menu_superior/boton_rojo_gr.png);
color:#fff;
}

#cabecera_buscador{
	float:right;
	width:175px;
}
#cabecera_buscador a
{
color:#505C68;
}

#cabecera_buscador label
{
font-size:10px;
}

#cabecera_buscador form{
	margin-top:2px;
	color:#CF0547;
}

#cabecera_buscador img{
	margin-left:50px;
}

#buscar{
	height:12px;
	width:98px;
	font-size:100%;
}

/*cabecera fin*/

/*cuerpo*/

#cuerpo{
	clear:both;
	border-top:1px solid #F5F1F0;
}

#contenedor_principal{
	clear:left;
	width:100%;
	overflow:hidden;
	padding-bottom:5px;
	display:table;
}


/*pie*/

#pie{
	clear:both;
	background:url(../images/borde_rojo_hor.gif) repeat-x top;	
	padding-top:3px;
	text-align:center;
	font-size:90%;
	width:97%;
	float:left;
	margin: 10px!important;
	margin: 4px;
}

#pie ul{
	padding-top:20px;
	border-top:3px solid #F4F1F0;	
}

#pie li{
	display:inline;	
	margin-left:5px;
}

#pie a{
	color:#505C68;
}

/*pie fin*/



/**********Aviso legal*********/

.li_legal{
margin-bottom:25px;
list-style-image:url(../images/060/sites/images/lista_c.jpg);
margin-left:25px;
display:block;
}

.li_legal li{margin-bottom:5px;}


/*****listas con borde******/

.ul_borde{
background-image: url(../images/subra_cuerpo_central_seccion.gif);
background-repeat: repeat-x;
background-position: bottom;
margin-left:20;
width:50%;

}
/************** UTILIDADES ***********************/
#cuerpo_central_utilidades{
	padding-bottom:10px;
}

/* ESTILO PARTICIPACIÓN; estilo_participacion.css*/
.texto_introduccion{
	font-size:12px;
	color:#979b9c;
	border-bottom:1px solid #90979d;
	padding:8px;
	margin-left: 12px;
}
#menu_cabecera{
	width:100%;
	height:36px;
	background:url(../images/participacion/fondo_participacion_der.gif) right no-repeat #d10544;
	margin-bottom:10px;
}
#menu_cabecera ul{
	height:36px;
	background:url(../images/participacion/fondo_participacion_izq.gif) left no-repeat;
	padding-left:9px;
}
#menu_cabecera ul li{
	height:26px;
	list-style:none;
	float:left;
	padding-left:10px;
	padding-top:10px;
	margin-left:-1px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.Menu_nivel1{
    width:18%;
	height:36px;
}
.seleccionada{
    width:18%;
	height:36px;
	background-color:#FFFFFF;
	background-image: url('../images/solapa_selec.gif');
	background-position:top;
	background-repeat:no-repeat;
	color:#505C68;
	font-size:14px;
	padding-left:5px;
	padding-top:7px;
}

.Menu_nivel1 a:hover{
	text-decoration:underline;
	color:#fff;
}
.Menu_nivel1 a{
	font-size:14px;
	color:#fff;
	padding-left:5px;
	padding-top:7px;
}
.foto_novedades{
	width:90%;
	height:auto;
	margin-left:10%;
	margin-top:15px;
	margin-bottom:10px;
	padding-bottom:5px;
}
.imagen_novedades{float:left;}
.textoNovedades{
	float:left;
	padding-right:5px;
	width:70%;
}
.resaltado_rojo{color:#505C68; float:left; padding-right:5px; width:70%; margin-top:5px; margin-bottom:5px; font-weight:bold;}
.resaltado_rojo a{color:#505C68; text-decoration:underline;}
.resaltado_rojo a:hover{color:#ca0238; color:#ca0238; underline}

#contenedor_Izq{
	width:75%;
	height:auto;
	float:left;
	margin-top:2em;
	margin-left:18px !important;
	margin-left:10px;
}
#contenedor_Der{
	margin-top:0.5em;
	width:20%;
	height:auto;
	float:right;
	padding:5px 0 5px 0;
}
#administracion_interior{
	width:48%;
	height:auto;
	float:right;
	padding-bottom:15px;
}
.titulobloque
{
	width:99%!important;
	width:95%;
	height:auto;
	padding-bottom:2px;
	background-image: url('../images/subra_cuerpo_central_seccion.gif')!important;
	background-repeat:no-repeat;
	background-position:bottom;
	display:table;
}
.titulobloque h2{
	display:table;
	width:100%;
	padding-left:17px;
	background-image:url(../images/cuerpo_central_seccion_dec.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	font-size:12px;
	font-weight:bold;
	color:#546169;
	}
	
#administracion_interior .bloqueder_contenido
{
	width:45%;
	height:auto;
	padding-bottom:5px;
	background-image: url('../images/subra_cuerpo_central_seccion.gif')!important;
	font-size:11px;
	font-weight:bold;
	color:#4D5E66;
	padding-left:20px;
	border:0.2em solid orange;
	float: right;
}
#bloqueizq_contenido{
	width:45%;
	height:auto;
	float:left;
	padding-bottom:15px;
	display:table;
}


#barra_Titular
{
	display:block;
	height:1.3em;
    display:table;
	margin-left:1em;
	margin-bottom:10px;
	width:99%;
}

#barra_Titular h1
{
    display:block;
    color:#fff;
    font-size:18px;
    padding:3px 0 0 15px;
    margin-top:0;
	margin-left:2px;
    background-color:#91989E;
	
}

.buscador{
	margin-top:10px;
	margin-left:11%;
	display:table;
	height:auto;
	width:95%;
}
.texto_buscador{
	margin-top:10px;
	width:auto;
	float:left;
}
img.imagenBuscador{
	width:25px; 
	height:14px;
	float:left;
	margin-top:10px;
	margin-left:2px;
}
.buscador2{
	margin-left:11%;
	display:table;
	height:auto;
	width:95%;
}
.campo_buscador{
	margin-top:6px;
	margin-left:2px;
	float:left;
	height:10%;;
	float:left;
	display:block;
}
.input_tablas_registro{
	border:1px solid #7e9dba;
	padding:3px 3px 3px 3px;
	font-size:11px;
	color:#4d6064;
	margin-right:10px;
	display:block;
}
.input_boton_buscador{
	border:1px solid #b8b8ba;
	background-color:#e9eaec;
	padding:0 2px 2px 2px;
	height:1.9em;
	font-size:9px;
	color:#4b5f66;
}
.input_boton_buscadorAvanzado{
	border:1px solid #b8b8ba;
	background-color:#e9eaec;
	padding:0 2px 2px 2px;
	height:1.9em;
	font-size:9px;
	color:#4b5f66;
	width:125px;
}
.botonenviar{
	margin-top:4px;
	padding-left:2px;
	padding-top:4px;
	display:table;
	float:left!important;
}
.botonbusquedaAvanzada{
	margin-left:12%;
	margin-top:5px;
	display:table;
	height:auto;
	width:15px;
}
#cierresSuperiores{
	width:75%;
	height:auto;
	float:left;
	margin-left:18px !important;
	margin-left:10px;
}
#contenedor_Izq2{
	width:45%;
	height:auto;
	float:left;
	padding-bottom:15px;
	background: url(../images/subra_cuerpo_central_seccion.gif) top left repeat-x;
	display:table;}

#administracion_interior2{
	width:48%;
	height:auto;
	float:right;
	margin-bottom:15px;
	padding-bottom:15px;
	background: url(../images/subra_cuerpo_central_seccion.gif) top left repeat-x;
}
.imagen_ultima_noticia{float:left; margin-right:8px;}
#destBloqeuDer{
	width:95%;
	height:auto;
	border:5px solid #90979d;
	background-color:#fff;
	float:left;
	margin-top:2px!important;
	margin-top:10px;
}
.destBloqeuDer_esq_sup_izq{
	width:100%;
	height:auto;
	background: url(../images/cajas/esq-Izq-Gris-Sup.gif) top left no-repeat;
}
.destBloqeuDer_esq_inf_der
{
	width:100%;
	height:auto;
	background: url(../images/cajas/esq-Der-Gris-Inf.gif)  no-repeat bottom right;
}
.destBloqeuDer_esq_sup_der
{
	width:100%;
	height:auto;
	background:url(../images/cajas/esq-Der-Gris-Sup.gif)  no-repeat top right;
}
.destBloqeuDer_esq_inf_izq
{
	width:100%;
	height:auto;
	background:url(../images/cajas/esq-Izq-Gris-Inf.gif)  no-repeat bottom left;
	padding-bottom:5px;
}
#caja_destacados h3{
	width:90%;
	height:auto;
	font-size:11px;
	color:#737D86;
	background:url(../images/subra_cuerpo_central_seccion.gif) bottom  repeat-x;
	margin:0px auto;
	padding-top:10px;
}
#caja_destacados ul{
	height:auto;
	margin:0 5px 0px 3px;
}
#caja_destacados ul li{
	height:auto;
	padding-left:15px;
	list-style:none;
	color:#9ea3a7;
}
#caja_destacados ul li A{
	color:#737D86;
}
#caja_destacados ul li A:HOVER{
	color:#ca0238;
	text-decoration:underline;
}
.dest_der{
	background:url(../images/guion_bajo.gif) left no-repeat;
	margin-right:2px;
	font-weight:bold;    
	margin-top:10px;                                                                                       
}
#contenedor_Der{
	width:16%;
	height:auto;
	float:right;
	padding:10px 0 15px 0!important;
	padding:6px 0 15px 0;
	margin-right:10px;
}
#contmenu_nivel2{
	display:table;
	float:left;
	<!--margin-top:20px;-->
	padding-right:5px;
	margin-bottom:30px;
}
#menu_nivel2{
	height:auto;
	float:left;
	margin-left:16px!important;
	margin-left:8px;
	display:table;
	margin-bottom:4em;
}

#menu_nivel2 ul{
	width:100%;
	height:auto;
}
#menu_nivel2 h2{
	color:#505e67;
	background:url(../images/subra_gris_claro.gif) bottom repeat-x;
	padding-right:4px!important;
	font-size:11px;

}
#menu_nivel2 ul li{
	height:auto;
	list-style:none;
	padding:10px 0 10px 15px;
	background:url(../images/subra_gris_claro.gif) bottom repeat-x ;
	background:url(../images/guion_bajo2.gif) left top no-repeat;
	display:table;
	border-bottom:solid 1px #EAEAEA;
}
#menu_nivel2 ul li a{
	color:#4f5c65;
	background-repeat:no-repeat;
	background-position:left;
}
#menu_nivel2 ul li a:hover{
	color:#CA0238;
	background:url(../images/guion_bajo2.gif) left top no-repeat;
}
#contender_nivel2{
	width:81%;
	height:auto;
	display:table;
}
#contender_nivel2 ul{
	background: url(../images/participacion/separador_relacionados.gif) top repeat-x;
	
}
#contender_nivel2 ul p{
	padding-left:25px;
}
.menu_nivel2_activo{
	color:#fff;
	font-weight:bold;
	background-image:url(../images/fondo_seleccmenu2.jpg);
	background-repeat:repeat;
}
.cuerpo_central_tituloNivel1{
	font-weight:bold;
	font-size:12px;	
 	background: #E8EDF1 url(../images/flecha_titnivel1.gif) no-repeat;
	padding:2px 20px;
	margin-left:5px;
	margin-bottom:1.5em;
}
.cuerpo_centralnivel2
{	width:99%!important;
	width:92%;
	height:auto;
	padding-bottom:2px;
	background-image: url('../images/subra_cuerpo_central_seccion.gif')!important;
	background-repeat:no-repeat;
	background-position:bottom;
	display:table;
	margin-left:24px;
	margin-bottom:0.6em;
}
.cuerpo_centralnivel2 P{
	display:table;
	width:100%;
	padding-left:17px;
	background-image:url(../images/cuerpo_central_seccion_dec.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	font-size:12px;
	font-weight:bold;
	color:#57646D;
	margin-bottom:2px;
	}
.contenidonivel2{
	font-size:11px;
	font-weight:regular;
	margin-left:40px!important;
	margin-left:28px;
	width:94%;
}
.contenidonivel2 p{
}
.cuerpo_centralnivel3
{	width:93%!important;
	width:94%;
	height:auto;
	padding-bottom:2px;
	border-bottom:1px solid #5E94B6;
	display:table;
	margin-left:40px!important;
	margin-left:24px;
	margin-bottom:0.6em;
	margin-top:1.5em;
}
.cuerpo_centralnivel3 P{
	display:table;
	width:100%;
	font-size:11px;
	font-weight:bold;
	color:#5E94B6;
	margin-bottom:1px;
}
	
.contenidonivel3{
    background-color: #EDEDE6;
    /*border-top: 1px solid #AEB4AC;*/
	font-size: 10px;
    height: 14px !important;
    margin-left: 9px;
    padding: 6px 0 3px 0 !important;
    text-align: center;
    width: 98%;
    margin-right: 2px;
    vertical-align: top;
}


.contenidonivel3 img{
	vertical-align: top;
	margin-top: -2px;
}

.cuerpo_centralnivel4
{	width:90%!important;
	width:89%;
	height:auto;
	padding-bottom:2px;
	border-bottom:1px solid #5E94B6;
	display:table;
	margin-left:60px!important;
	margin-bottom:0.6em;
	margin-top:1.5em;
}
.cuerpo_centralnivel4 P{
	display:table;
	width:100%;
	font-size:11px;
	color:#5E94B6;
	margin-bottom:1px;

	}
.contenidonivel4{
	font-size:11px;
	font-weight:regular;
	margin-left:40px!important;}

.contenidonivel4 p{
width:95%;
margin-left:22px!important;
width:95%!important;
width:93%;
}

.tabla_BD{
     margin-top:2em;
     margin-left:2em;
	 margin-bottom:2em;
	 padding:0;
	 text-align:right;
	 z-index:auto;
	 text-align:center;
}

TABLE.BD{

	margin:0 auto;
     padding:0;
     /* width:70%; */
     width:80%;
     height:100%;
     border-collapse:collapse;
     border:0.06em #7EA1BF solid;
	 float:none;
	
}

TR.BD{
	margin:0;
	padding:0;}

TH.BD{
     text-align:left;
     background-color:#EDF2F8;
     margin:0;
	padding:0.2em 0.2em 0.2em 0.5em;
     font-family: Arial, Helvetica, sans-serif;
     color:#FFFFFF;
     border-bottom:0.06em #4A74BE solid;
     border-left:0.06em #4A74BE solid;
     border-right:0.06em #red solid;
	 background-color:#7EA1BF;
}

TD.BD{         
	text-align:left;
	margin:0.5em;
	padding:0.3em 0.2em 0.2em 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	color:#4E5B6B;
	border-bottom:0.06em #A0C9F7 solid;
	border-left:0.06em #4A74BE solid;
	background-color:#EAEFF5;
}
TD.BD A{
	color:#D10343;
	text-decoration:none;
ne;
}
TD.BD A:HOVER{
color:#D10343;
text-decoration:underline;
}
TD.BDnivel2{         
	text-align:left;
	margin:0.5em;
	padding:0.2em 0.2em 0.2em 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4F5D68;
	border-bottom:0.06em #A0C9F7 solid;
	border-left:0.06em #4A74BE solid;
	background-color:#FFFFFF;
}
TD.BDnivel2 A{         
	color:#D10343;
	text-decoration:none;
}
TD.BDnivel2 A:HOVER{         
color:#D10343;
text-decoration:underline;
}
.horizonte
    {
    color: #000000;
    background-color: #ff0000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: hidden;
    /*visibility: visible;  Activa esta linea si quisieras ver donde esta el horizonte*/
    display: block;
    }
 
.contenido    
    {
 
    margin-left: -250px;
    position: absolute;
    top: -250px;
    left: 50%;
    width: 500px;
    height: 500px;
    visibility: visible;
    } 