table {
	border: 1px solid #C0C0C0;
	margin: 0 7px 0px 9px;
	width: 98%;
}

th {
	background-color: #D6DCDF;
	border-bottom: 1px solid #C0C0C0;
	font-size: 10px;
	height: 20px;
	padding: 2px 3px 0 5px;
	text-align: left;
	vertical-align: middle;
}

th.superHeader {
	background-color: #BAC8CF;
	border-bottom: 1px solid #FFFFFF;
	height: 18px;
	padding: 2px;
}

th.separator,td.separator {
	background-image: url("../img/grids/separator.gif");
	background-position: 0 center;
	background-repeat: no-repeat;
}

th a {
	color: #165391;
	text-decoration: none;
}

th a:hover {
	color: #993300;
}

tbody td {
	border-top: 1px solid #DDDCDC;
	font-size: 10px;
	height: 18px;
	padding: 2px 3px 2px 5px;
	vertical-align: middle;
}

tbody tr.odd td {
	background-color: #EDF0F1;
}

tfoot td {
	background-color: #E6E6E6;
	border-top: 1px solid #C0C0C0;
	font-size: 11px;
	height: 23px;
	padding: 1px 3px 1px 3px;
	vertical-align: middle;
}

.totals td {
	background-color: #EBEADF;
	font-weight: bold;
	height: 18px;
	padding: 2px 5px;
}

tfoot tr.totals td {
	background-color: #EBEADF;
	font-weight: bold;
	height: 18px;
	padding: 2px 5px;
}

tbody td.color {
	background-color: #E5E8EC !important;
}

tbody tr:hover td {
	background-color: #DDE3E5 !important;
}

tfoot td.paginacion {
	background-color: #EDEDE6;
	border-top: 1px solid #AEB4AC;
	font-size: 10px;
	height: 13px !important;
	padding: 3px 0 !important;
	text-align: center;
}

tfoot td.paginacion a img {
	vertical-align: middle;
}

tfoot td.paginacion span {
	display: inline-block;
	margin: 0 3px;
	padding: 0 0 1px;
}

tfoot td.paginacion span a {
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
}

tfoot td.paginacion span a:hover {
	color: #999999;
	text-decoration: none;
}

tfoot td.paginacion span a.paginaActiva {
	font-weight: bold;
}

tbody td.darkTD {
	background-color: #F0EDDE !important;
	border-right: 1px solid #D4D8DA;
}

span.edit,span.delete,span.view {
	display: inline-block;
	height: 16px;
}

span.edit {
	width: 23px;
}

span.delete {
	width: 15px;
}

span.view {
	width: 29px;
}

span.decline {
	width: 29px;
}

span.reply {
	width: 29px;
}

td.buttons {
	text-align: center;
}

td.buttons a:hover {
	opacity: 0.5;
}

.btnEdit,.btnDelete,.btnView,.btnDecline,.btnReply,.btnPassbook,.btnTree,.btnRun{
	display: inline-block;
	height: 16px;
}

.btnMagGlass,.btnDetails,.btnDetailsOff{
	display: inline-block;
	height: 25px;
}

.btnEdit {
	background: url("../img/grids/btnEdit.gif") no-repeat scroll left top
		transparent;
	width: 23px;
	cursor: pointer;
}
.btnRun {
	background: url("../img/grids/btnRun.gif") no-repeat scroll left top
		transparent;
	width: 16px;
	cursor: pointer;
}

.btnTree {
	background: url("../img/grids/btnTree.gif") no-repeat scroll left top
		transparent;
	width: 23px;
	cursor: pointer;
}

.btnPassbook {
	background: url("../img/grids/btnPassbook.gif") no-repeat scroll top
		transparent;
	width: 23px;
	cursor: pointer;
}

.btnDelete {
	background: url("../img/grids/btnDelete.gif") no-repeat scroll left top
		transparent;
	width: 15px;
	cursor: pointer;
}

.btnView {
	background: url("../img/grids/btnView.gif") no-repeat scroll left top
		transparent;
	width: 29px;
	cursor: pointer;
}

.btnDetails {
	background: url("../img/grids/btnDetails.gif") no-repeat scroll left top
		transparent;
	width: 32px;
	cursor: pointer;
}

.btnDetailsOff {
	background: url("../img/grids/btnDetailsOff.gif") no-repeat scroll left top
		transparent;
	width: 32px;
}

.btnMagGlass {
	background: url("../img/grids/btnMagGlass.gif") no-repeat scroll left top
		transparent;
	width: 20px;
	cursor: pointer;
}

.btnDecline {
	background: url("../img/grids/btnDecline.gif") no-repeat scroll left top
		transparent;
	width: 16px;
	cursor: pointer;
}

.btnReply {
	background: url("../img/grids/btnReply.gif") no-repeat scroll left top
		transparent;
	width: 18px;
	cursor: pointer;
}
.btnReply {
	background: url("../img/grids/btnTree.gif") no-repeat scroll left top
		transparent;
	width: 18px;
	cursor: pointer;
}

span.activo,span.inactivo {
	display: inline-block;
	height: 13px;
	width: 16px;
}

span.activo {
	background: url("../img/grids/icoActivo.png") no-repeat scroll left top
		transparent;
}

span.inactivo {
	background: url("../img/grids/icoInactivo.png") no-repeat scroll left
		top transparent;
}

.TH10 {
	width: 10px !important;
}

.TH15 {
	width: 15px !important;
}

.TH17 {
	width: 17px !important;
}

.TH20 {
	width: 20px !important;
}

.TH30 {
	width: 30px !important;
}

.TH35 {
	width: 35px !important;
}

.TH40 {
	width: 40px !important;
}

.TH45 {
	width: 45px !important;
}

.TH50 {
	width: 50px !important;
}

.TH55 {
	width: 55px !important;
}

.TH60 {
	width: 60px !important;
}

.TH70 {
	width: 70px !important;
}

.TH75 {
	width: 75px !important;
}

.TH77 {
	width: 77px !important;
}

.TH80 {
	width: 80px !important;
}

.TH90 {
	width: 90px !important;
}

.TH100 {
	width: 100px !important;
}

.TH110 {
	width: 110px !important;
}

.TH120 {
	width: 120px !important;
}

.TH130 {
	width: 130px !important;
}

.TH140 {
	width: 140px !important;
}

.TH150 {
	width: 150px !important;
}

.TH160 {
	width: 160px !important;
}

.TH170 {
	width: 170px !important;
}

.TH180 {
	width: 180px !important;
}

.TH190 {
	width: 190px !important;
}

.TH200 {
	width: 200px !important;
}

.TH210 {
	width: 210px !important;
}

.TH220 {
	width: 220px !important;
}

.TH230 {
	width: 230px !important;
}

.TH240 {
	width: 240px !important;
}

.TH250 {
	width: 250px !important;
}

.TH260 {
	width: 260px !important;
}

.TH270 {
	width: 270px !important;
}

.TH280 {
	width: 280px !important;
}

.TH290 {
	width: 290px !important;
}

.TH300 {
	width: 300px !important;
}

.TH310 {
	width: 310px !important;
}

.TH320 {
	width: 320px !important;
}

.TH330 {
	width: 330px !important;
}

.TH535 {
	width: 535px !important;
}

.gestionEnviosColumn {
	overflow: hidden !important;;
	white-space: nowrap !important;;
	text-overflow: ellipsis !important;
	width: 116px  !important;
	max-width: 116px  !important;	
}

.gestionEnviosColumnLote {
	overflow: hidden !important;;
	white-space: nowrap !important;;
	text-overflow: ellipsis !important;
	width: 116px  !important;
	max-width: 116px  !important;	
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.bold {
	font-weight: bold !important;
}

.editContent table {
	margin: 7px 0 5px 6px;
}

.grandtotal-row td {
	background-color: #EBEADF;
	font-weight: bold;
	height: 18px;
}

tbody td.colorGray {
	background-color: #f2f2f2 !important;
	border-right: solid 1px #d6d5d5;
}

.tdOculta {
	display:none;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    max-width:150px;
    background:yellow;
}