/* Tablas con exportacion */
SPAN.xml {
	background-image: url(../images/export/ico_file_xml.png);
	font-size:12px;
}

SPAN.pdf {
	background-image: url(../images/export/ico_file_pdf.png);
	font-size:12px;
}

SPAN.csv {
	background-image: url(../images/export/ico_file_csv.png);
	font-size:12px;
}

SPAN.excel {
	background-image: url(../images/export/ico_file_excel.png);
	font-size:12px;
}