@charset "utf-8";
/* CSS Document */
body {
	background-color: #d0d1d2;
	font-family: Verdana, Geneva, sans-serif;
}

input[type="text"],textarea,select {
	font-size: 10px;
	border: solid 1px #b7b6b6;
	font-family: Verdana, Geneva, sans-serif;
	padding: 1px;
	min-height: 14px
}

input[type="checkbox"] {
	vertical-align: middle;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.datepicker {
	width: 70px;
}

/*CONTENIDOS*/
#generalContent {
	width: 985px;
	margin: 0px auto;
	background-color: #FFF;
	padding: 0 3px 3px 3px;
}

#header,#main {
	overflow: hidden;
}
/*#header{border-bottom: solid 1px #ffffff;}*/
#header {
	border-bottom: solid 1px #ffffff;
	background: url(../img/headerImage.jpg) left top no-repeat;
}

.leftHeader {
	float: left;
	overflow: hidden;
	width: 1000px;
	font-size: 10px;
}

.leftHeader div {
	width: 350px;
	float: right;
}

.headerLinks {
    clear: both;
    padding: 5px 8px;
    background-color: #eceded;
    color: #929292;
    width: 140px;
    text-align: center;
    margin-left: 175px;
}

.headerLinks a {
	color: #929292;
	text-decoration: none;
}

.userRol {
	float: left;
	margin: 18px 0 0 15px;
}

.userRol strong {
	color: #999999;
}

.userRol label {
	color: #5e5c5c;
}

h1 {
	color: #3e3e3e;
	font-size: 18px;
	line-height: 20px;
	padding: 20px 0 0 163px;
	text-transform: uppercase;
	height: 49px;
	font-weight: normal;
	width: 210px;
	float: left;
}

h1 span {
	font-size: 12px;
	color: #0c5387;
	text-transform: none;
}

.rightHeader {
	background: url(../img/logoMinisterio.jpg) left top no-repeat;
	width: 143px;
	height: 75px;
	float: right;
}

.mainContainer {
	overflow: hidden;
}

.menu,.mainContent {
	display: table-cell;
	vertical-align: top;
	min-height: 450px;
}

.menu {
	background-color: #e0e0e0;
	width: 178px;
	position: relative;
}

.menu h2 {
	padding: 7px 0 5px 7px;
	color: #303131;
	text-transform: uppercase;
	font-size: 11px;
}

.menu div {
	padding: 4px 5px 0px 5px;
}

.menu div.contentFixed {
	position: fixed;
	padding: 0;
}

.menu h3 {
	background: #686868;
	margin-bottom: 1px;
	border: solid 1px #464646;
}

.menu h3 a {
	background: transparent url(../img/icoMenuIzq.gif) 4px 7px no-repeat;
	color: #FFF;
	padding: 3px 0 3px 10px;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.menu h3 span {
	background: transparent url(../img/icoMenuIzq.gif) 4px 7px no-repeat;
	color: #FFF;
	padding: 3px 0 3px 10px;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.menu h3 a:hover {
	color: #000;
}

.menu ul {
	border-left: solid 1px #bbbbbb;
	border-top: solid 1px #bbbbbb;
	border-right: solid 1px #bbbbbb;
	margin-bottom: 7px;
}

.menu li {
	border-bottom: solid 1px #bbbbbb;
}

.menu li a {
	background-color: #f7f7f7;
	color: #000;
	padding: 4px 4px 4px 25px;
	display: inline-block;
	width: 137px;
	text-decoration: none;
	font-size: 10px;
}

.menu li a:hover {
	background-color: #b0bbc8;
	color: #FFF;
}

/*ICONOS MENU*/
a.servSMTP {
	background: url(../img/iconosMenu/icoServidoresSMTP.gif) 2px 2px
		no-repeat;
}

a.Emails {
	background: url(../img/iconosMenu/icoEmails.gif) 2px 2px no-repeat;
}

a.ProveSMS {
	background: url(../img/iconosMenu/icoProovedoresSMS.gif) 2px 2px
		no-repeat;
}

a.RecepSMS {
	background: url(../img/iconosMenu/icoProovedoresSMS.gif) 2px 2px
		no-repeat;
}

a.Aplicaciones {
	background: url(../img/iconosMenu/icoAplicaciones.gif) 2px 2px no-repeat;
}

a.Servicios {
	background: url(../img/iconosMenu/icoServicios.gif) 2px 2px no-repeat;
}

a.Planificaciones {
	background: url(../img/iconosMenu/icoPlanificaciones.gif) 2px 2px
		no-repeat;
}

a.Usuarios {
	background: url(../img/iconosMenu/icoUsuarios.gif) 2px 2px no-repeat;
}

a.Roles {
	background: url(../img/iconosMenu/icoRoles.gif) 2px 2px no-repeat;
}

a.CanalEMAIL {
	background: url(../img/iconosMenu/icoCanalEMAIL.gif) 2px 2px no-repeat;
}

a.CanalSMS {
	background: url(../img/iconosMenu/icoCanalSMS.gif) 2px 2px no-repeat;
}

a.BBDD060 {
	background: url(../img/iconosMenu/icoAplicaciones.gif) 2px 2px no-repeat;
}

a.Sede {
	background: url(../img/iconosMenu/icoAplicaciones.gif) 2px 2px no-repeat;
}

a.SIA {
	background: url(../img/iconosMenu/icoAplicaciones.gif) 2px 2px no-repeat;
}
/*ICONOS MENU*/
.mainContent {
	width: 800px;
}

h2.breadCrumb {
	border-top: solid 1px #003366;
	border-bottom: solid 2px #003366;
	background-color: #f3f3f3;
	font-size: 10px;
	color: #003366;
	clear: both;
}

h2.breadCrumb span,h2.breadCrumb a {
	display: inline-block;
	padding: 7px;
}

h2.breadCrumb span {
	background: url(../img/bckgrBreadCrumbSpan.png) left top repeat-x;
	color: #FFF;
}

h2.breadCrumb a {
	color: #003366;
	margin: 0 5px;
	background: url(../img/blackArrow.png) 3px 10px no-repeat;
	padding-left: 12px;
	text-decoration: none;
}

h2.breadCrumb a:hover {
	color: #000000;
}

h3.pageNameButtons {
	background-color: #003366;
	color: #FFF;
	height: 24px;
	/*width: 800px;*/
	font-size: 10px;
	padding: 0 0 0 5px;
	vertical-align: middle;
	margin-bottom: 6px;
}

h3.pageNameButtons label {
	background: url(../img/whiteArrow.png) 3px 9px no-repeat;
	padding: 7px 0 0 11px;
	display: inline-block;
}

h3.pageNameButtons span {
	padding: 2px 4px 0 0;
}

h4.titular {
	border-bottom: solid 1px #000;
	width: 320px;
	padding: 3px 0 3px 10px;
	background: url(../img/blackArrow.png) left 6px no-repeat;
	margin: 5px 0 10px 9px;
	font-size: 10px;
}

/*Criteria*/
div.criteria {
	border: solid 1px #d6d5d5;
	margin: 6px 7px 12px 9px;
	padding-top: 10px;
}

div.criteria .hr {
	margin: 8px 10px;
	background-color: #d6d5d5;
	height: 1px;
}

div.criteria span {
	width: 49%;
	display: inline-block;
}

p.criteria {
	padding: 2px 0 2px 15px;
	overflow: hidden;
	font-size: 10px;
}

p.criteria span {
	font-size: 10px;
	display: inline-block;
	overflow: hidden;
}

div.criteria input[type="text"] {
	width: 240px;
}

p.criteria strong {
	display: inline-block;
	padding: 4px 0;
	float: left;
}

label.fieldText {
	font-size: 10px;
	padding: 4px 0 0 8px;
	background: url(../img/icoText.gif) left 7px no-repeat;
	vertical-align: top;
	height: 16px;
	display: inline-block;
	float: left;
}

label.labelPlt {
	font-size: 10px;
	padding: 4px 0 0 0px;
	vertical-align: top;
	height: 16px;
	display: inline-block;
	float: left;
}

label.fieldTextNoIco {
	font-size: 10px;
	padding: 4px 0 0 8px;
	vertical-align: top;
	height: 16px;
	display: inline-block;
	float: left;
}

.datepicker {
	width: 236px !important;
}

.footerCriteria {
	background-color: #e6e6e6;
	border-top: solid 1px #d6d5d5;
	margin-top: 10px;
	padding: 2px 0 2px 0;
	overflow: hidden;
}

.leftSide,.rightSide {
	width: 49%;
	display: inline-block;
}

.leftSide {
	padding-left: 3px;
	text-align: left;
	float:left;
}

.rightSide {
	padding-right: 3px;
	text-align: right;
	float: right;
}
.centerNumRows {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pageNameButtons .button {
	font-family: Verdana, Arial, Sans Serif;
	border: solid 1px #ffffff;
	background: #e3e1e2;
	color: #0b5487;
	font-size: 10px;
	cursor: pointer;
	padding: 2px 10px 2px 10px;
}

.pageNameButtons .button:hover {
	font-family: Verdana, Arial, Sans Serif;
	border: solid 1px #ffffff;
	background: #bac8cf;
	color: #083f66;
	font-size: 10px;
	cursor: pointer;
	padding: 2px 10px 2px 10px;
}

.button {
	font-family: Verdana, Arial, Sans Serif;
	border: solid 1px #ffffff;
	background: #4889af;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
	padding: 2px 10px 2px 10px;
}

.button[disabled]{
	background: #eaeaea;
	border: solid 1px #aaaaaa;
}

.button[disabled]:hover{
	background: #eaeaea;
	border: solid 1px #aaaaaa;
	cursor: default;
}

.button:hover {
	background: #0b5487;
}

a.button {
    font-family: Verdana, Arial, Sans Serif;
    border: solid 1px #ffffff;
    background: #4889af;
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
}

a.button:hover {
	text-decoration: none;
	color: #fff;
}

/*.buttonNoSelected {
	font-family: Verdana, Arial, Sans Serif;
	border: solid 1px #808585;
	background: #2879b7 url(../img/bckgrButtons.png) left top repeat-x;
	padding: 1px 10px;
	color: #002142;
	font-size: 10px;
	cursor: pointer;
	font-weight: normal;
}*/

.buttonNoSelected {
	font-family: Verdana, Arial, Sans Serif;
	background: #eaeaea;
	border: solid 1px #aaaaaa;
	padding: 1px 10px;
	color: #002142;
	font-size: 10px;
	cursor: pointer;
	font-weight: normal;
}

.buttonSelected {
	font-family: Verdana, Arial, Sans Serif;
	border: solid 1px #386898;
	background: #386898;
	padding: 1px 10px;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
}

.editContent .leftSide,.editContent .rightSide {
	width: 48.9%;
	display: inline-block;
}

/*EDICION*/
.editContainer {
	margin: 0px 5px 7px 7px;
}

.editContainer>div {
	padding: 5px;
	display: table-cell;
}

.nameDescription {
	background-color: #e8ebec;
	border-right: solid 7px #FFFFFF;
	width: 161px;
	color: #003366;
	vertical-align: top;
}

.nameDescription label {
	font-size: 10px;
	padding: 5px;
	display: inline-block;
	font-weight: bold;
}

.nameDescription p {
	font-size: 10px;
	padding: 5px;
	line-height: 13px;
}

.editContent {
	background-color: #eff2f3;
	width: 608px;
}

.nameDescriptionError {
	background-color: #FF0000;
	border-right: solid 7px #FFFFFF;
	width: 161px;
	color: #003366;
	vertical-align: top;
}

.nameDescriptionError label {
	font-size: 10px;
	padding: 5px;
	display: inline-block;
	font-weight: bold;
}

.nameDescriptionError p {
	font-size: 10px;
	padding: 5px;
	line-height: 13px;
}

.editContentError {
	background-color: #FFB3B3;
	width: 608px;
}

.nameDescriptionOk {
	background-color: #9EFF9E;
	border-right: solid 7px #FFFFFF;
	width: 161px;
	color: #003366;
	vertical-align: top;
}

.nameDescriptionOk label {
	font-size: 10px;
	padding: 5px;
	display: inline-block;
	font-weight: bold;
}

.nameDescriptionOk p {
	font-size: 10px;
	padding: 5px;
	line-height: 13px;
}

.editContentOk {
	background-color: #DBFFDB;
	width: 608px;
}

.contentService {
	border: dashed 1px #c0c0c0;
	padding-bottom: 10px;
	background-color: #fff;
}

.contentService h3 {
	margin: 5px;
	background-color: #1b6395;
	padding: 3px;
	font-size: 12px;
	color: #FFF;
}

.serviceSeparator {
	height: 5px;
}
/*EDICION*/
.outstanding {
	background-color: #e2e4e5;
	padding: 4px 6px 4px 50px !important;
	margin: 4px 0 4px 15px;
	overflow: hidden;
	width: 530px;
	display: inline-table !important;
}

.outstanding div {
	background-color: #eef0f1;
	border: solid 1px #FFFFFF;
}

.addLink {
	display: inline-block;
	padding: 3px 15px 3px 18px;
	margin: 2px 0 0 0;
	background: url(../img/icoAddLink.jpg) left top no-repeat;
	float: right;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.addLink:hover {
	text-decoration: underline;
}

/*Popup*/
.footerPopup {
	background-color: #bcc5d3;
	padding: 3px 0;
	margin: 0 -3px 0 0;
	border: solid 1px #ffffff;
	overflow: hidden;
}

.footerPopup .button{
	cursor: pointer;
}
.W50 {
	width: 50px !important	
}
.W65 {
	width: 65px !important
}

.W80 {
	width: 80px !important
}

.W90 {
	width: 90px !important
}

.W100 {
	width: 100px !important
}

.W110 {
	width: 110px !important
}

.W120 {
	width: 120px !important
}

.W130 {
	width: 130px !important
}

.W140 {
	width: 140px !important
}

.W150 {
	width: 150px !important
}

.W160 {
	width: 160px !important
}

.W170 {
	width: 170px !important
}

.W180 {
	width: 180px !important
}

.W190 {
	width: 190px !important
}

.W200 {
	width: 200px !important
}

.W210 {
	width: 210px !important
}

.W220 {
	width: 220px !important
}

.W230 {
	width: 230px !important
}

.W240 {
	width: 240px !important
}

.W238 {
	width: 236px !important
}

.W245 {
	width: 245px !important
}

/* Validaciones */
.validation {
	display: block;
	overflow: hidden;
	padding: 16px 6px 6px 50px;
	min-height: 20px;
	margin: 0px 5px 7px 7px;
	font-size: 11px;
}

.Success {
	background: #e9f3ed url(../img/OK.png) 5px 5px no-repeat;
	border: solid 3px #73b18a;
}

.Warning {
	background: #fce987 url(../img/warning.png) 5px 5px no-repeat;
	border: solid 3px #cdb641;
}

.Error {
	background: #f3e9e9 url(../img/Error.png) 5px 5px no-repeat;
	border: solid 3px #b13d3d;
}

.attached {
	background: url("../img/otros.png") no-repeat scroll 2px 2px #D1DFED;
	border: 1px solid #CECECE;
	display: inline-block;
	font-size: 10px;
	height: 15px;
	margin-right: 2px;
	padding: 7px 9px 3px 30px;
}

.headEmail,.bodyEmail {
	font-size: 10px;
	line-height: 15px;
}

.bodyEmail {
	min-height: 100px;
	overflow: auto;
}

.HomeContent {
	padding: 3px 0 0 3px !important;
}

.emails {
	background-color: #f0f4f7;
	margin-right: 3px;
	width: 400px;
}

.servers {
	background-color: #e5ecf1;
	width: 401px;
}

.alerts {
	background-color: #e9ecee;
	clear: both;
}

.emails,.servers {
	display: table-cell;
}

.emails,.servers,.alerts {
	
}

.emails h2,.servers h2,.alerts h2 {
	border-bottom: 1px solid #c8ced3;
	padding: 20px 0 20px 65px;
	font-size: 10px;
	color: #181818;
}

.emails h2 {
	background: #d8e1e8 url(../img/icoEmails.png) left bottom no-repeat;
}

.servers h2 {
	background: #d8e1e8 url(../img/icoServers.png) left bottom no-repeat;
}

.alerts h2 {
	background: #d9dee2 url(../img/icoAlerts.png) left bottom no-repeat;
}

.emails div,.servers div,.alerts div {
	border-top: 1px solid #FFF;
	padding: 4px;
}

div.search {
	background-color: #f3f3f3;
	padding: 3px 2px 0 2px;
	border-style: none;
	margin-bottom: 8px;
}

div.search p.criteria {
	padding: 0 0 0 10px !important;
}

div.search input.button {
	float: right;
}

.HomeContent table {
	margin: 0px;
	width: 100%;
}

.HomeContent .servers table {
	border-top: none;
}

.HomeContent h4 {
	padding: 3px 0 3px 10px;
	background: url(../img/blackArrow.png) left 6px no-repeat;
	margin: 5px 0 0 0px;
	font-size: 10px;
}

td.op-create span,
td.op-delete span,
td.op-update span{
	width: 78px;
	height: 23px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

td.op-create{
	position: relative;
	background-image: url(../img/grids/op-icon.png);
	background-position: center -4px;
	background-repeat: no-repeat;
}
td.op-delete{
	position: relative;
	background-image: url(../img/grids/op-icon.png);
	background-position: center -34px;
	background-repeat: no-repeat;
}
td.op-update{
	position: relative;
	background-image: url(../img/grids/op-icon.png);
	background-position: center -64px;
	background-repeat: no-repeat;
}

.openServiceConfig{
	height: 18px;
	line-height: 17px;
	position:absolute;
	top: 0px;
	right: 5px;
	width: auto;
	font-size: 10px;
	text-align: right;
	padding-right: 19px;
	background: url(../img/grids/open-config.png) no-repeat right center;
}

.openServiceConfig:hover{
	cursor: pointer;
}

.contentService h3{
	position: relative;
}
.FixTable{
     width: 100%;
     border-collapse:separate;
     border-spacing:0px;
     vertical-align:top;
    *border-collapse: expression('separate', cellSpacing = '0px');/*ie fix*/
     table-layout:fixed;/*ie fix*/
}
.listRadioButtons{
     width: 30px;
}

/*Desplegables*/

.menuDesplegable{
	cursor: pointer;
}

.selector{
	backgroundColor: "#003366";
}

.checksMargin {
	margin-top: 3px;
}

.md-entorno {
	padding-top: 0.6em;
	float:left;
	font-size: 2.5em;
	font-family: Times New Roman;
	font-family: WorkSans-SemiBold;
	color: #065bf1;	
}

@font-face {
  font-family: WorkSans-SemiBold;
  src: url('../fonts/WorkSans-SemiBold_eot.eot');
  src: url('../fonts/WorkSans-SemiBold_eot.eot?#iefix') format('embedded-opentype'),
       url('../fonts/WorkSans-SemiBold_woff.woff') format('woff'),
       url('../fonts/WorkSans-SemiBold_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}