<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           				http://www.springframework.org/schema/aop
           				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           				http://www.springframework.org/schema/tx 
		   				http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		   				http://www.springframework.org/schema/context 
		   				http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	

	<aop:config>
		<aop:pointcut id="txSIMBusiness"
			expression="execution(* es.minhap.plataformamensajeria.iop.manager.*.*(..)) or execution(* es.minhap.plataformamensajeria.iop.dao.*.*(..))" />
		<aop:advisor advice-ref="txSIMAdvice" pointcut-ref="txSIMBusiness" />
	</aop:config>
	
	<tx:advice id="txSIMAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" /> 
		</tx:attributes>
	</tx:advice>
	

	
    <bean id="sessionFactorySIMApp" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSourceSIMApp"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.connection.release_mode">after_statement</prop>
                <prop key="hibernate.validator.apply_to_ddl">false</prop> 
				<prop key="hibernate.validator.autoregister_listeners">false</prop>
            </props>
        </property>
         <property name="packagesToScan">
           <list>
               <value>es.minhap.sim.model</value>
           </list>
       </property>
    </bean>
     <bean id="dataSourceSIMApp" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
		<!-- Esto se declara en \jboss-5.1.0.GA\server\default\deploy\plataformaMensajeria-ds.xml -->
			 <!--  <value>java:dsOraclePlataformaFRONT</value> -->
			<value>java:dsOraclePlataforma</value>
		</property>
	</bean> 
   <!--  <bean id="dataSourceSIMApp" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@//10.253.114.133:1521/INSIMDESA"/>
        <property name="username" value="SIM_FRONT"/>
        <property name="password" value="Aem44hHnY9n1Xph"/>
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="30"/>
        <property name="maxWait" value="16000"/>
        <property name="minIdle" value="0"/>
    </bean>  -->
    <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactorySIMApp" />
	</bean>

<tx:annotation-driven transaction-manager="transactionManager"/>

<!-- CONFIGURACION BBDD MISIM -->

	<!-- <aop:config>
		<aop:pointcut id="txMISIMBusiness"
			expression="execution(* es.minhap.plataformamensajeria.iop.misim.manager.*.*(..)) or execution(* es.minhap.plataformamensajeria.iop.misim.dao.*.*(..))" />
		<aop:advisor advice-ref="txMISIMAdvice" pointcut-ref="txMISIMBusiness" />
	</aop:config>
	
	<tx:advice id="txMISIMAdvice" transaction-manager="transactionMISIMManager">
		<tx:attributes>
			<tx:method name="*" /> 
		</tx:attributes>
	</tx:advice>

	<bean id="sessionFactoryMISIMApp" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSourceMISIMApp"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.connection.release_mode">after_statement</prop>
                <prop key="hibernate.validator.apply_to_ddl">false</prop> 
				<prop key="hibernate.validator.autoregister_listeners">false</prop>
            </props>
        </property>
         <property name="packagesToScan">
           <list>
               <value>es.minhap.misim.bus.model</value>
           </list>
       </property>
    </bean>
     <bean id="dataSourceMISIMApp" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
		Esto se declara en \jboss-5.1.0.GA\server\default\deploy\plataformaMensajeria-ds.xml
			 <value>java:dsOraclePlataformaFRONT</value> 
			<value>java:dsOraclePlataformaMISIM</value>
		</property>
	</bean> 
	<bean id="transactionMISIMManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactoryMISIM" ref="sessionFactoryMISIMApp" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionMISIMManager"/> -->
</beans>