<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://cxf.apache.org/jaxws
       		http://cxf.apache.org/schemas/jaxws.xsd
       		http://cxf.apache.org/transports/http/configuration 
 			http://cxf.apache.org/schemas/configuration/http-conf.xsd">
  				  			  
	<jaxws:client id="operacionMensajesService" 
 			serviceClass="es.redsara.misim.misim_bus_webapp.OperacionMensajesServicePortType"
			address="${url.operaciones.mensajes}">
			<jaxws:features>
	    		<bean class="org.apache.cxf.feature.LoggingFeature" />
			</jaxws:features>
	</jaxws:client>
  	
  	<http-conf:conduit name="{http://www.map.es/xml-schemas}OperacionMensajesServicePortType.http-conduit">
		  <http-conf:client Accept="text/xml" AllowChunking="false" CacheControl="No-Cache" ContentType="text/xml" />
	</http-conf:conduit>  
	
</beans>