<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/jee 
  http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<context:annotation-config />
	<context:component-scan base-package="es" />

	<!-- action mailsender -->
	<bean id="mailSender"
		class="es.mpr.template.web.action.mail.MailSenderAction"
		scope="prototype">
		<property name="mailManager" ref="servicioCorreo" />
	</bean>
	

	<bean id="generadorInformesAction"
		class="es.mpr.template.web.action.reports.ReportGeneratorAction"
		scope="prototype">
		<property name="servicioOrganismo" ref="servicioOrganismos" />
		<property name="reportManager" ref="reportManager" />
		<property name="reportDS" ref="reportDS" />
		<property name="reportParameters" ref="reportParameters" />
		<property name="reportDirectory" value="/informes/" />
		<property name="reportImgDirectory" value="/images/" />
	</bean>

	<bean id="gestorDescargaFicheros"
		class="es.mpr.template.web.action.files.DescargaFicherosAction" 
		scope="prototype" />
	
	<bean id="firmaWebAction"
		  class="es.mpr.template.web.action.afirma.FirmaWebAction"
		  scope="prototype">
		  <property name="servicio" ref="verifyService"/>
	</bean>
	
	<bean id="servicioSecurizado"
		class="es.mpr.template.servicios.impl.ServicioSecurizadoImpl" />

		

	<!-- ******************************* -->
	<!--FIN SERVICIOS Y MANAGERS DE LA APLICACION -->
	<!-- ******************************* -->
	<!-- Transaccionalidad de los servicios de la aplicacion plantilla:transaccionalidad declarativa con aspectos-->
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--<tx:method name="get*" read-only="true" />-->
			<tx:method name="new*" propagation="REQUIRES_NEW"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="transac"
			expression="execution(* *..Servicio*.*(..))"></aop:pointcut>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transac"></aop:advisor>
	</aop:config>
	
</beans>