<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:s="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/framework.properties</value>
			</list>
		</property>
	</bean>

	<!-- Inicio de la configuración de las clases DAO y de servicio(Managers) con los usuarios en el LDAP 060  -->

   <!--  <bean id="ldapContext" class="com.map.j2ee.dao.ldap.LdapContextVO"  >
        <property name="name" value="authorization" />
        <property name="initialContextFactory" value="com.sun.jndi.ldap.LdapCtxFactory" />
        <property name="url" value="${ldap.url}" />
        <property name="defaultContext" value="true" />
        <property name="username" value="${ldap.username}" />
        <property name="password" value="${ldap.password}" />
        <property name="authenticationType" value="simple" />
    </bean> -->


    <!-- <bean id="groupParcialDAO" class="com.map.j2ee.security.perm.dao.ldap.Ldap060GroupDAO" >
        <property name="objectBaseDn" value="${ldap.applicationGroupDn}" />
        <property name="actualCtxConfig" ref="ldapContext" />
    </bean> -->
  <!--   <bean id="groupDAO" parent="groupParcialDAO">
        <property name="userDao" ref="userDAO" />
    </bean> -->

   
   <!--  <bean id="listUserTypes" class="java.util.HashMap">
       <constructor-arg>
         <map>
         	<entry key="1">
         		<bean class="com.map.j2ee.dao.ldap.LdapUserType">
         			<property name="name" value="Usuario Intranet" />
                    <property name="objectBaseDn" value="${ldap.userIntranet.objectBaseDn}" />
                </bean>
            </entry>
            <entry key="2">
                <bean class="com.map.j2ee.dao.ldap.LdapUserType">
            	     <property name="name" value="Usuario Extranet" />
                     <property name="objectBaseDn" value="${ldap.userExtranet.objectBaseDn}" />
                </bean>
            </entry>

	En DESARROLLO(MAP), PREPRODUCCION y PRODUCCIÓN no se usa este tipo de usuario
            <entry key="3">
            	<bean class="com.map.j2ee.dao.ldap.LdapUserType">
                	  <property name="name" value="Usuario Internet" />
                	  <property name="objectBaseDn" value="${ldap.userInternet.objectBaseDn}" />
                </bean>
             </entry>

         </map>
       </constructor-arg>
    </bean> -->


 <!--    <bean id="userDAO" class="com.map.j2ee.security.perm.dao.ldap.Ldap060UserDAO" >
        <property name="listUserTypes"  ref="listUserTypes" />
        <property name="actualCtxConfig" ref="ldapContext" />
        <property name="groupDAO" ref="groupParcialDAO" />
        <property name="groupUsersApp" value="${ldap.groupUsersDn}" />
    </bean>
-->
	<!-- <bean id="userDAO" class="es.mpr.plataformamensajeria.util.LdapUserDaoInercya" >
	        <property name="listUserTypes"  ref="listUserTypes" />
	        <property name="actualCtxConfig" ref="ldapContext" />
	        <property name="groupDAO" ref="groupParcialDAO" />
	        <property name="groupUsersApp" value="${ldap.groupUsersDn}" />
    </bean> -->

   <!-- <bean id="fwkGroupManager" class="com.map.j2ee.security.perm.manager.impl.GroupManagerImpl">
        <property name="maintenanceDao" ref="groupDAO"/>
    </bean>

     <bean id="fwkUserManager" class="com.map.j2ee.security.perm.manager.impl.UserManagerImpl">
        <property name="passwordAlgoritm" value="SHA"/>
        <property name="maintenanceDao" ref="userDAO"/>
        <property name="baseGroupId" value="${ldap.groupUsersDn}" />
    </bean>  -->

<!-- FIN de la configuración de las clases DAO y de servicio(Managers) con los usuarios en el LDAP 060 -->

<!-- Inicio de la configuración de las clases DAO y de servicio(Managers) con los usuarios en el LDAP de Oracle -->
<!--
    <bean id="ldapContext" class="com.map.j2ee.dao.ldap.LdapContextVO"  >
        <property name="name" value="authorization" />
        <property name="initialContextFactory" value="com.sun.jndi.ldap.LdapCtxFactory" />
        <property name="url" value="${ldap.url}" />
        <property name="defaultContext" value="true" />
        <property name="username" value="${ldap.username}" />
        <property name="password" value="${ldap.password}" />
        <property name="authenticationType" value="simple" />
    </bean>

    
    <bean id="groupParcialDAO" class="com.map.j2ee.security.perm.dao.ldap.LdapOracleGroupDAO" >       
        <property name="objectBaseDn" value="${ldap.applicationGroupDn}" />      
        <property name="actualCtxConfig" ref="ldapContext" />
    </bean>
    <bean id="groupDAO" parent="groupParcialDAO">
        <property name="userDao" ref="userDAO" />
    </bean>

    <bean id="listUserTypes" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="1">
                    <bean class="com.map.j2ee.dao.ldap.LdapUserType">
                        <property name="name" value="Usuario Intranet" />
                        <property name="objectBaseDn" value="ou=fwk,ou=intranet,ou=usuarios,dc=mpr,dc=es" />
                    </bean>
                </entry>
                <entry key="2">
                    <bean class="com.map.j2ee.dao.ldap.LdapUserType">
                        <property name="name" value="Usuario Internet" />
                        <property name="objectBaseDn" value="ou=fwk,ou=internet,ou=usuarios,dc=mpr,dc=es" />
                    </bean>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="userDAO" class="com.map.j2ee.security.perm.dao.ldap.LdapOracleUserDAO" >
        <property name="listUserTypes"  ref="listUserTypes" /> 
        <property name="actualCtxConfig" ref="ldapContext" />
        <property name="groupDAO" ref="groupParcialDAO" />
        <property name="groupUsersApp" value="${ldap.groupUsersDn}" />
    </bean>

    <bean id="fwkGroupManager" class="com.map.j2ee.security.perm.manager.impl.GroupManagerImpl">
        <property name="maintenanceDao" ref="groupDAO"/>
    </bean>

    <bean id="fwkUserManager" class="com.map.j2ee.security.perm.manager.impl.UserManagerImpl">
        <property name="passwordAlgoritm" value="SHA"/>
        <property name="maintenanceDao" ref="userDAO"/>
        <property name="baseGroupId" value="${ldap.groupUsersDn}" />
    </bean>
 -->

<!-- FIN de la configuración de las clases DAO y de servicio(Managers) con los usuarios en el LDAP de Oracle -->





<!-- Inicio de la configuración de las clases DAO y de servicio(Managers) con los usuarios en BD  -->
<!--
    <bean id="groupDAO" class="com.map.j2ee.security.perm.dao.jpa.GroupJpaDAO">
      <property name="jpaDao" ref="jpa"/>
    </bean>

    <bean id="userDAO" class="com.map.j2ee.security.perm.dao.jpa.UserJpaDao" >
        <property name="jpaDao" ref="jpa"/>
    </bean>

    <bean id="fwkGroupManager" class="com.map.j2ee.security.perm.manager.impl.GroupManagerImpl">
        <property name="maintenanceDao" ref="groupDAO"/>
    </bean>

    <bean id="fwkUserManager" class="com.map.j2ee.security.perm.manager.impl.UserManagerImpl">
        <property name="passwordAlgoritm" value="SHA"/>
        <property name="maintenanceDao" ref="userDAO"/>
    </bean>
       
-->

<!-- FIN de la configuración de las clases DAO y de servicio(Managers) con los usuarios en BD -->


</beans>
