<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/jee 
  http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- ************************ -->
	<!-- ACTIONS DE LA APLICACION -->
	<!-- ************************ -->
	<!-- action de login -->
	<bean id="logon"
		class="es.mpr.template.web.action.logon.LogonAction"
		scope="prototype" />

	<!-- action mailsender -->
	<bean id="mailSender"
		class="es.mpr.template.web.action.mail.MailSenderAction"
		scope="prototype">
		<property name="mailManager" ref="servicioCorreo" />
	</bean>
	<!-- action de seguridad -->
	<bean id="seguridadAction"
		class="es.mpr.template.web.action.seguridad.SeguridadAction"
		scope="prototype">
		<property name="servicio" ref="servicioSecurizado" />
	</bean>

	<!-- action de gestion de usuarios -->
	<bean id="gestorUsuarios"
		class="es.mpr.template.web.action.admin.UsuariosAction"
		scope="prototype">
		<property name="groupManager" ref="fwkGroupManager" />
		
		<!-- Si el repositorio de usuarios está en base de datos solo existe un tipo de usuario, por lo que esta propiedad no tiene porqué ser configurada-->
                <property name="listUserTypes" ref="listUserTypes" />
	</bean>

	<!-- action de gestion de grupos -->
	<bean id="gestorGrupos"
		class="es.mpr.template.web.action.admin.GrupoAction"
		scope="prototype">
		<property name="groupManager" ref="fwkGroupManager" />
			
	</bean>


	<!-- /Acciones menu configuracion -->
	
	<bean id="auditoriaAction"
		class="es.mpr.template.web.action.seguridad.AuditoriaAction"
		scope="prototype">
		<property name="servicioAuditoria" ref="servicioAuditoria" />
	</bean>

	<bean id="generadorInformesAction"
		class="es.mpr.template.web.action.reports.ReportGeneratorAction"
		scope="prototype">
		<property name="servicioOrganismo" ref="servicioOrganismos" />
		<property name="reportManager" ref="reportManager" />
		<property name="reportDS" ref="reportDS" />
		<property name="reportParameters" ref="reportParameters" />
		<property name="reportDirectory" value="/informes/" />
		<property name="reportImgDirectory" value="/images/" />
	</bean>

	<bean id="gestorDescargaFicheros"
		class="es.mpr.template.web.action.files.DescargaFicherosAction" 
		scope="prototype" />
	
	<bean id="firmaWebAction"
		  class="es.mpr.template.web.action.afirma.FirmaWebAction"
		  scope="prototype">
		  <property name="servicio" ref="verifyService"/>
	</bean>
	<!-- ******************************* -->
	<!-- ACTIONS PLATAFORMA MENSAJES -->
	<!-- ******************************* -->
	
	<!-- action de gestion de Servidores -->
	<bean id="servidoresAction"
		class="es.mpr.plataformamensajeria.web.action.servidores.ServidoresAction"
		scope="prototype">
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioTipoParametro" ref="servicioTiposParametro"/>
		<property name="servicioParametroServidor" ref="servicioParametrosServidor"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
	</bean>
	<!-- action de gestion de ProveedoresSMS -->
	<bean id="proveedorSMSAction"
		class="es.mpr.plataformamensajeria.web.action.proveedores.ProveedoresSMSAction"
		scope="prototype">
		<property name="servicioProveedorSMS" ref="servicioProveedoresSMS"/>
		<property name="servicioTipoParametro" ref="servicioTiposParametro"/>
		<property name="servicioParametroServidor" ref="servicioParametrosServidor"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
	</bean>
	<!-- action de gestion de ReceptoresSMS -->
	<bean id="receptorSMSAction"
		class="es.mpr.plataformamensajeria.web.action.receptores.ReceptoresSMSAction"
		scope="prototype">
		<property name="servicioReceptorSMS" ref="servicioReceptoresSMS"/>
		<property name="servicioTipoParametro" ref="servicioTiposParametro"/>
		<property name="servicioParametroServidor" ref="servicioParametrosServidor"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
	</bean>
	<!-- action de gestion de ServidoresPush -->
	<bean id="servidorPushAction"
		class="es.mpr.plataformamensajeria.web.action.servidorespush.ServidoresPushAction"
		scope="prototype">
		<property name="servicioServidorPush" ref="servicioServidoresPush"/>
		<property name="servicioTipoParametro" ref="servicioTiposParametro"/>
		<property name="servicioParametroServidor" ref="servicioParametrosServidor"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
		<property name="servicioPlataforma" ref="servicioPlataformas"/>
	</bean>
	<bean id="aplicacionAction"
		class="es.mpr.plataformamensajeria.web.action.aplicacion.AplicacionAction"
		scope="prototype">
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
		<property name="servicioUsuarioAplicacion" ref="servicioUsuariosAplicaciones"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		
	</bean>
	<bean id="organismosAction"
		class="es.mpr.plataformamensajeria.web.action.organismos.OrganismosAction"
		scope="prototype">
		<property name="servicioOrganismo" ref="servicioOrganismos"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
		<property name="servicioUsuarioAplicacion" ref="servicioUsuariosAplicaciones"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		
	</bean>
	<bean id="serviciosAction"
		class="es.mpr.plataformamensajeria.web.action.servicios.ServicioAction"
		scope="prototype">
		<property name="servicioOrganismo" ref="servicioOrganismos"/>
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioProveedorSMS" ref="servicioProveedoresSMS"/>
		<property name="servicioReceptorSMS" ref="servicioReceptoresSMS"/>
		<property name="servicioServidorPush" ref="servicioServidoresPush"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioCanal" ref="servicioCanales"/>
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>
		
	</bean>	
	<bean id="planificacionAction"
		class="es.mpr.plataformamensajeria.web.action.planificaciones.PlanificacionAction"
		scope="prototype">
		<property name="servicioPlanificacion" ref="servicioPlanificaciones"/>	
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioCanal" ref="servicioCanales"/>
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioTipoPlanificacion" ref="servicioTiposPlanificacion"/>
		<property name="servicioProveedorSMS" ref="servicioProveedoresSMS"/>
		<property name="servicioReceptorSMS" ref="servicioReceptoresSMS"/>
		<property name="servicioServidorPush" ref="servicioServidoresPush"/>
	</bean>
	<bean id="usuarioAction"
		class="es.mpr.plataformamensajeria.web.action.usuarios.UsuarioAction"
		scope="prototype">
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioUsuario" ref="servicioUsuarios"/>
		<property name="servicioUsuarioAplicacion" ref="servicioUsuariosAplicaciones"/>	
	
	</bean>
	<bean id="estadisticaAction"
		class="es.mpr.plataformamensajeria.web.action.estadisticas.EstadisticasAction"
		scope="prototype">
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioEstado" ref="servicioEstados"/>
		<property name="servicioCanal" ref="servicioCanales"/>
	</bean>
	<bean id="auditoriaPlataforma"
		class="es.mpr.plataformamensajeria.web.action.auditoria.AuditoriaPlataformaAction"
		scope="prototype">
		<property name="servicioAuditoriaPlataforma" ref="servicioAuditoriasPlataforma"/>
	</bean>
	<bean id="usuariosPushAction"
		class="es.mpr.plataformamensajeria.web.action.usuariospush.UsuariosPushAction"
		scope="prototype">
		<property name="servicioUsuarioPush" ref="servicioUsuariosPush"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
	</bean>
	<bean id="gestionEnvioAction"
		class="es.mpr.plataformamensajeria.web.action.gestionenvio.GestionEnviosAction"
		scope="prototype">
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioEstado" ref="servicioEstados"/>
		<property name="servicioCanal" ref="servicioCanales"/>
		<property name="servicioGestionEnvios" ref="servicioGestionesEnvios"/>
	</bean>	
	<bean id="gestionEnvioHistoricoAction"
		class="es.mpr.plataformamensajeria.web.action.gestionenviohistorico.GestionEnviosHistoricosAction"
		scope="prototype">
		<property name="servicioAplicacion" ref="servicioAplicaciones"/>
		<property name="servicioServidor" ref="servicioServidores"/>
		<property name="servicioServicio" ref="servicioServicios"/>
		<property name="servicioEstado" ref="servicioEstados"/>
		<property name="servicioCanal" ref="servicioCanales"/>
		<property name="ServicioGestionEnviosHistoricos" ref="servicioGestionesEnviosHistoricos"/>
	</bean>	
	<bean id="homeAction"
		class="es.mpr.plataformamensajeria.web.action.home.HomeAction" scope="prototype">
		<property name="serviciosListadoHome" ref="servicioHomes"/>
	</bean>
	<!-- ******************************* -->
	<!-- FIN ACTIONS PLATAFORMA MENSAJES -->
	<!-- ******************************* -->




	<!-- ******************************* -->
	<!-- FIN ACTIONS DE LA APLICACION -->
	<!-- ******************************* -->
	
	<!-- ******************************* -->
	<!-- SERVICIOS Y MANAGES DE LA PLATAFORMA DE MENSAJERIA -->
	<!-- ******************************* -->
	
	<bean id="servicioServidores"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioServidorImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioTiposParametro" 
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioTipoParametroImpl">
		<property name="jpa" ref="paginationJPA" />	
	</bean>
	<bean id="servicioTiposPlanificacion" 
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioTipoPlanificacionImpl">
		<property name="jpa" ref="paginationJPA" />	
	</bean>	
	<bean id="servicioParametrosServidor"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioParametroServidorImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
		
	<bean id="servicioProveedoresSMS"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioProveedorSMSImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioReceptoresSMS"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioReceptorSMSImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioServidoresPush"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioServidorPushImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioPlanificaciones"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioPlanificacionImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioAplicaciones"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioAplicacionImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioOrganismos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioOrganismoImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioServicios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioServicioImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>	
	<bean id="servicioCanales"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioCanalImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>	
	<bean id="servicioUsuarios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioUsuarioImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioUsuariosAplicaciones"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioUsuarioAplicacionImpl">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioEstados"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioEstadoImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	<bean id="servicioAuditoriasPlataforma"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioAuditoriaPlataformaImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	<bean id="servicioUsuariosPush"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioUsuariosPushImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>			
	<bean id="servicioGestionesEnvios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioGestionEnviosImpl">
		<property name="jpa" ref="paginationJPA"/>	
	</bean>
	<bean id="servicioHomes"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioListadosHomeImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	<bean id="servicioGestionesEnviosHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioGestionEnviosHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>	
	</bean>
	<bean id="servicioPlataformas" 
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioPlataformaImpl">
		<property name="jpa" ref="paginationJPA" />	
	</bean>
	
	<!-- ******************************* -->
	<!--SERVICIOS Y MANAGERS DE LA APLICACION -->
	<!-- ******************************* -->

	
	
		
	<bean id="servicioOrganismosOLD"
		class="es.mpr.template.servicios.impl.ServicioOrganismoImplOLD">
		<property name="jpa" ref="paginationJPA" />
	</bean>
	<bean id="servicioUnidadOrganizacional"
		class="es.mpr.template.servicios.impl.ServicioUnidadOrganizacionalImpl">
		<property name="jpa" ref="jpa" />
	</bean>

	<bean id="servicioSecurizado"
		class="es.mpr.template.servicios.impl.ServicioSecurizadoImpl" />

	<!-- Beans de gestion de informes -->
	<bean id="reportManager"
		class="com.map.j2ee.reports.jasper.JRReportManager" />

	<bean id="reportDS"
		class="com.map.j2ee.reports.jasper.JRReportDS" />

	<bean id="reportParameters"
		class="com.map.j2ee.reports.jasper.JRReportParameters" />
	<!-- FIN Beans gestion informes -->
	
	<bean id="servicioLotesEnvios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioLotesEnviosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioMensajes"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioMensajesImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioMensajesAdjuntos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioMensajesAdjuntosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioAdjuntoEmail"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioAdjuntoEmailImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioDestinatario"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioDestinatarioImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioHistorico"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioHistoricoImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioGestionEnvios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioGestionEnviosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioLotesEnviosHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioLotesEnviosHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioMensajesHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioMensajesHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioMensajesAdjuntosHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioMensajesAdjuntosHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioAdjuntoEmailHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioAdjuntoEmailHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioDestinatarioHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioDestinatarioHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioHistoricoHist"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioHistoricoHistImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioGestionEnviosHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioGestionEnviosHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<!-- PROCESOS -->
	<bean id="servicioProcesoHistoricos"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioProcesoHistoricosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioProcesoConsolidadas"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioProcesoConsolidadasImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	
	<bean id="servicioProcesoInformesServicios"
		class="es.mpr.plataformamensajeria.servicios.impl.ServicioProcesoInformesServiciosImpl">
		<property name="jpa" ref="paginationJPA"/>
	</bean>
	

	<!-- ******************************* -->
	<!--FIN SERVICIOS Y MANAGERS DE LA APLICACION -->
	<!-- ******************************* -->
	<!-- Transaccionalidad de los servicios de la aplicacion plantilla:transaccionalidad declarativa con aspectos-->
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--<tx:method name="get*" read-only="true" />-->
			<tx:method name="new*" propagation="REQUIRES_NEW"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="transac"
			expression="execution(* *..Servicio*.*(..))"></aop:pointcut>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transac"></aop:advisor>
	</aop:config>
	
	<!-- Ejemplo Ajax Action -->
	<bean id="ejemploAjaxAction"
		  class="es.mpr.template.web.action.ajax.EjemploAjaxAction"
		  scope="prototype">
	</bean>
	
	<bean id="combosAjaxAction"
		  class="es.mpr.template.web.action.ajax.CombosAjaxAction"
		  scope="prototype">
	</bean>
	
	<bean id="formsAjaxAction"
		  class="es.mpr.template.web.action.ajax.FormsAjaxAction"
		  scope="prototype">
	</bean>
	
	<bean id="catalogAction"
		  class="com.map.j2ee.catalogs.struts.CatalogAction"
		  scope="prototype">
		  <property name="catalogService" ref="fwkCatalogsManager"/>
	</bean>

</beans>