<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/jee 
  http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Configuración de Tiles para Spring -->
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-defs.xml</value>
			</list>
		</property>
	</bean>

	<!-- Configuración de Stsruts-Menu para Spring -->
	<bean id="menu" class="net.sf.navigator.menu.MenuLoader">
		<property name="menuConfig" value="/WEB-INF/menu-config.xml" />
	</bean>

	
	<!-- Clase de utilidad que  facilita el acceso al contexto de Spring -->
	<bean id="springApplicationContextProvider"
		class=" com.map.j2ee.spring.SpringApplicationContextProvider" />

	<!-- Autoproxy para aspectos -->

	<aop:aspectj-autoproxy/>
	
	<!-- dao jpa -->
	<bean id="jpa" class="com.map.j2ee.dao.ImplBaseJPADao" />
	<!-- /dao jpa -->
	
	<bean id="paginationJPA" class="com.map.j2ee.pagination.dao.PaginationJPADAOImpl" />
	
	<!-- persistencia jpa -->
	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath:META-INF/persistence.xml</value>
			</list>
		</property>
	</bean>
	<!-- Factoria de entity managers -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager"
			ref="persistenceUnitManager" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<!-- gestor de transacciones -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory">
		</property>
	</bean>

	<!-- Para activar la transaccionalidad con anotaciones -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

	<!-- /Para activar la transaccionalidad con anotaciones -->

</beans>