<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://cxf.apache.org/jaxws
       		http://cxf.apache.org/schemas/jaxws.xsd
       		http://cxf.apache.org/transports/http/configuration 
 			http://cxf.apache.org/schemas/configuration/http-conf.xsd
 			http://www.springframework.org/schema/util
 			http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 			
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:confEnvioMensajesTest.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- ********************************** -->
	<!-- Bean con los properties externos para utilizar en el proyecto -->
	<!-- ********************************** -->
	<util:list id="propertiesBean">
        <value>classpath:confEnvioMensajesTest</value>
 	</util:list>
	
	<bean id="reloadableResourceBundleMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" 		ref="propertiesBean"/>
		<property name="cacheSeconds" 	value="600"/>
	</bean>
	
  	<jaxws:client id="envioMensajesService" 
    			  serviceClass="es.redsara.misim.misim_bus_webapp.EnvioMensajesServiceWSBindingPortType"
  				  address="http://localhost:8079/misim-bus-webapp/EnvioMensajesService">
  				  <!--  address="http://des-misim.redsara.es/misim-bus-webapp/EnvioMensajesService" -->
  		<jaxws:features>
    		<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:client>

	<http-conf:conduit name="{http://misim.redsara.es/misim-bus-webapp/}EnvioMensajesServiceWSBindingPortTypePort.http-conduit">
		  <http-conf:client Accept="text/xml" AllowChunking="false" CacheControl="No-Cache" ContentType="text/xml"  />
	</http-conf:conduit>  
  				  
</beans>